<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="deposito">
      <h2 data-cy="depositoDetailsHeading"><span jhiTranslate="gatewayApp.criptoDeposito.detail.title">Deposito</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ deposito.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.criptoDeposito.volume">Volume</span></dt>
        <dd>
          <span>{{ deposito.volume }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.criptoDeposito.id_deposito">Id Deposito</span></dt>
        <dd>
          <span>{{ deposito.id_deposito }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.criptoDeposito.client_account">Client Account</span></dt>
        <dd>
          <span>{{ deposito.client_account }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.criptoDeposito.entidade_account">Entidade Account</span></dt>
        <dd>
          <span>{{ deposito.entidade_account }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/deposito', deposito.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
