<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="saque">
      <h2 data-cy="saqueDetailsHeading"><span jhiTranslate="gatewayApp.criptoSaque.detail.title">Saque</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ saque.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.criptoSaque.volume">Volume</span></dt>
        <dd>
          <span>{{ saque.volume }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.criptoSaque.client_account">Client Account</span></dt>
        <dd>
          <span>{{ saque.client_account }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.criptoSaque.entidade_account">Entidade Account</span></dt>
        <dd>
          <span>{{ saque.entidade_account }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/saque', saque.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
