<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-saque-heading" data-cy="SaqueCreateUpdateHeading" jhiTranslate="gatewayApp.criptoSaque.home.createOrEditLabel">
        Create or edit a Saque
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.criptoSaque.volume" for="field_volume">Volume</label>
          <input type="number" class="form-control" name="volume" id="field_volume" data-cy="volume" formControlName="volume" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.criptoSaque.client_account" for="field_client_account">Client Account</label>
          <input
            type="text"
            class="form-control"
            name="client_account"
            id="field_client_account"
            data-cy="client_account"
            formControlName="client_account"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.criptoSaque.entidade_account" for="field_entidade_account"
            >Entidade Account</label
          >
          <input
            type="text"
            class="form-control"
            name="entidade_account"
            id="field_entidade_account"
            data-cy="entidade_account"
            formControlName="entidade_account"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
